		<ul id="wb-tphp">
			<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
			<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to "About this site"</a></li>
			<li class="wb-slc visible-md visible-lg"><a class="wb-sl" href="#wb-sec">Skip to section menu</a></li>
		</ul>
		<header role="banner">
			<div id="wb-bnr" class="container">
				<div class="row">
					<div class="brand col-xs-8 col-sm-9 col-md-6">
						<a href="https://www.canada.ca/en.html"><object type="image/svg+xml" tabindex="-1" data="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_25/assets/sig-blk-en.svg"></object><span class="wb-inv"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span></a>
					</div>
					<section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
						<h2>Search and menus</h2>
						<ul class="list-inline text-right chvrn">
							<li><a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Search and menus</span></span></span></a></li>
						</ul>
						<div id="mb-pnl"></div>
					</section>
					<section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
						<h2>Search</h2>
						<form action="https://www.canada.ca/en/sr.html" method="get" name="cse-search-box" role="search" class="form-inline">
							<div class="form-group">
								<label for="wb-srch-q" class="wb-inv">Search website</label>
								<input name="cdn" value="canada" type="hidden">
								<input name="st" value="s" type="hidden">
								<input name="num" value="10" type="hidden">
								<input name="langs" value="en" type="hidden">
								<input name="st1rt" value="1" type="hidden">
								<input name="s5bm3ts21rch" value="x" type="hidden">
								<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="27" maxlength="150" placeholder="Search Canada.ca">
								<input type="hidden" name="_charset_" value="UTF-8">
								<datalist id="wb-srch-q-ac">
									<!--[if lte IE 9]><select><![endif]-->
									<!--[if lte IE 9]></select><![endif]-->
								</datalist>
							</div>
							<div class="form-group submit">
								<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
							</div>
						</form>
					</section>
				</div>
			</div>
			<nav role="navigation" id="wb-sm" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
				<div class="container nvbar">
					<h2>Topics menu</h2>
					<div class="row">
						<ul class="list-inline menu">
							<li><a href="https://www.canada.ca/en/services/jobs.html">Jobs</a></li>
							<li><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration</a></li>
							<li><a href="https://travel.gc.ca/">Travel</a></li>
							<li><a href="https://www.canada.ca/en/services/business.html">Business</a></li>
							<li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
							<li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
							<li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
							<li><a href="https://www.canada.ca/en/services.html">More services</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<nav role="navigation" id="wb-bc" property="breadcrumb">
				<h2>You are here:</h2>
				<div class="container">
					<div class="row">
						<ol class="breadcrumb">
							<li><a href="https://www.canada.ca/en.html">Home</a></li>
						</ol>
					</div>
				</div>
			</nav>
		</header>