<section class="alert alert-danger">
	<h2>Avertissement : Version plus récente</h2>
	<p>Ceci n'est pas la version la plus récente! S'il vous plait changer de version de la BOEW dans l'URL par v4_0_32.</p>
</section>