		<header id="wb-bnr" class="container">
			<div class="row">
				<div class="col-sm-6">
					<img src="https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_30/assets/sig-blk-en.svg" alt="Government of Canada / Gouvernement du Canada" />
				</div>
				<div class="col-sm-6">
					<img src="https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_30/assets/wmms-blk.svg" alt="Symbol of the Government of Canada" />
				</div>
			</div>
		</header>