		<header id="wb-bnr" class="container">
			<div class="row">
				<div class="col-sm-6">
					<img src="https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_30/assets/sig-blk-fr.svg" alt="Gouvernement du Canada / Government of Canada" />
				</div>
				<div class="col-sm-6">
					<img src="https://ssl-templates.services.gc.ca/app/cls/WET/gcintranet/v4_0_30/assets/wmms-blk.svg" alt="Symbole du gouvernement du Canada" />
				</div>
			</div>
		</header>